<div class="spendings">
  <h3>Spendings</h3>
  <div class="chart-container">
    <canvas #spendingsChartCanvas></canvas>
  </div>
  <div class="spendings-legend">
    <ul>
      <li><span class="bullet" style="background-color: #FF6384;"></span> Server (20%)</li>
      <li><span class="bullet" style="background-color: #36A2EB;"></span> Hosting (40%)</li>
      <li><span class="bullet" style="background-color: #FFCE56;"></span> Services (15%)</li>
      <li><span class="bullet" style="background-color: #4BC0C0;"></span> Others (15%)</li>
    </ul>
  </div>
</div>
