<div class="sidebar">
  <!-- Optional Top Points or Mini Menu -->
  <div class="points-section">
    <ul>
      <li>Overview</li>
      <li>Projects</li>
    </ul>
  </div>

  <!-- Dashboard Label -->
  <div class="sidebar-header">
    <span class="dashboard-label">Dashboard</span>
  </div>

  <!-- Navigation Menu -->
  <ul class="sidebar-menu">
    <li class="menu-item">
      <span class="menu-icon"><i class="fas fa-home"></i></span>
      <span class="menu-text">Overview</span>
    </li>
    <li class="menu-item">
      <span class="menu-icon"><i class="fas fa-shopping-cart"></i></span>
      <span class="menu-text">eCommerce</span>
    </li>
    <li class="menu-item">
      <span class="menu-icon"><i class="fas fa-briefcase"></i></span>
      <span class="menu-text">Projects</span>
    </li>
    <li class="menu-item">
      <span class="menu-icon"><i class="fas fa-graduation-cap"></i></span>
      <span class="menu-text">Online Courses</span>
    </li>
  </ul>

  <!-- NEW "Pages" Section (appended below the previous content) -->
  <div class="menu-section pages-section">
    <div class="menu-heading">Pages</div>
    <ul class="menu-list">
      <!-- User Profile submenu -->
      <li class="menu-item expandable">
        <a href="#">
          <span class="menu-icon"><i class="fas fa-user"></i></span>
          <span class="menu-text">User Profile</span>
          <span class="submenu-icon"><i class="fas fa-chevron-down"></i></span>
        </a>
        <ul class="submenu-list">
          <li class="submenu-item">
            <a href="#"><i class="fas fa-eye"></i> Overview</a>
          </li>
          <li class="submenu-item">
            <a href="#"><i class="fas fa-briefcase"></i> Projects</a>
          </li>
          <li class="submenu-item">
            <a href="#"><i class="fas fa-bullhorn"></i> Campaigns</a>
          </li>
          <li class="submenu-item">
            <a href="#"><i class="fas fa-file-alt"></i> Document</a>
          </li>
          <li class="submenu-item">
            <a href="#"><i class="fas fa-users"></i> Followers</a>
          </li>
        </ul>
      </li>
      <!-- Other individual pages -->
      <li class="menu-item">
        <a href="#">
          <span class="menu-icon"><i class="fas fa-user-shield"></i></span>
          <span class="menu-text">Account</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#">
          <span class="menu-icon"><i class="fas fa-building"></i></span>
          <span class="menu-text">Corporate</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#">
          <span class="menu-icon"><i class="fas fa-blog"></i></span>
          <span class="menu-text">Blog</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#">
          <span class="menu-icon"><i class="fas fa-share-alt"></i></span>
          <span class="menu-text">Social</span>
        </a>
      </li>
    </ul>
  </div>
</div>
